[Unit]
Description=Voicepipe Transcriber Service
After=network.target

[Service]
Type=simple
ExecStartPre=mkdir -p /tmp/voicepipe
ExecStart={{PYTHON_PATH}} {{SCRIPT_PATH}}
Restart=always
RestartSec=1
PrivateTmp=false
Environment="PYTHONUNBUFFERED=1"
Environment="HOME=%h"


[Install]
WantedBy=default.target