[Unit]
Description=Voicepipe Transcriber Service
After=network.target

[Service]
Type=simple
ExecStartPre=mkdir -p %t/voicepipe
ExecStart={{TRANSCRIBER_COMMAND}}
Restart=always
RestartSec=1
PrivateTmp=false
Environment="PYTHONUNBUFFERED=1"
Environment="HOME=%h"
EnvironmentFile=-%h/.config/voicepipe/voicepipe.env


[Install]
WantedBy=default.target
