<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <receiver
            android:name=".debug.InjectTranscriptReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="dev.voicepipe.zwangli.INJECT_TRANSCRIPT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
